html,
body {
  height: 100%;
}

input {
  outline: none;
  border: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}
.footer {
  flex: 0 0 auto;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__slider .slick-arrow {
  display: none !important;
}

.header__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 20%;
  button {
    background-color: $gray-light;
    border-color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    padding: 0;
    font-size: 0;
    cursor: pointer;
  }
  li.slick-active {
    button {
      background-color: $green;
      width: 13px;
      height: 13px;
    }
  }
}

.clients {
  .slick-prev,
  .slick-next {
    height: 40px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 630px;
    top: 200px;
  }

  .slick-prev {
    left: 78%;
    &::before {
      content: "";
      background-image: url(../images/Star.svg);
      background-repeat: space;
      width: 100px;
      height: 17.5px;
      position: absolute;
      right: 467px;
      bottom: 10px;
    }
  }
  .slick-next {
    left: 85.5%;
  }

  .rect-prev,
  .rect-next {
    &.actived {
      transition: 0.4s;
      fill: #1dc5a3;
    }
  }
  .path-prev,
  .path-next {
    &.actived {
      transition: 0.4s;
      stroke: $white;
    }
  }
}

.popular {
  .slick-slide {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .slick-list {
    // margin-left: -25px;
    // margin-right: -25px;
    // margin-top: -15px;
    // margin-bottom: -15px;
    pointer-events: none;
  }

}
