html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}
.footer {
  flex: 0 0 auto;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.slick-arrow {
  display: none !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 20%;
  button {
    background-color: $gray-light;
    border-color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    padding: 0;
    font-size: 0;
    cursor: pointer;
  }
  li.slick-active {
    button {
      background-color: $green;
      width: 13px;
      height: 13px;
    }
  }
}

// 