@media (max-width: 1200px) {
  .footer {
    &__contact {
      gap: 10px;
    }
  }

  .why-we {
    &__content {
      gap: 30px;
      flex-wrap: wrap;
    }
  }

  .popular {
    &__slider-name {
      font-size: 15px;
    }
    .turkey {
      left: 0;
    }
    &__info,
    .turkey {
      flex-direction: column;
      align-items: center;
      &-img {
        min-width: 49%;
      }
      &-title,
      &-title.turkey {
        text-align: center;
      }
      &-text {
        padding-bottom: 60px;
      }
    }
  }

  .about {
    &__content {
      justify-content: center;
    }
    &__img-wrapper,
    &__img-wrapper.bottom {
      &::before,
      &::after {
        display: none;
      }
    }
    &__items {
      width: 300px;
    }
  }

  .news {
    margin-bottom: 50px;
    &__img:last-child {
      left: -455px;
      top: 290px;
    }
    &__img:nth-child(2) {
      left: -200px;
      top: 200px;
    }
  }

  .vip {
    &__form {
      width: 730px;
      height: 270px;
    }
    &__input{
      margin-left: 70px;
      margin-bottom: 40px;
    }
    &__btn{
      margin: 0 auto;
      display: block;
    }
  }

  .country,
  .hotel {
    img {
      max-width: 99%;
    }
    height: 100%;
    &__content {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__slider {
      height: 100%;
    }
    &__info {
      margin-left: -34px;
      &-text {
        width: auto;
      }
    }
  }

  .hotel {
    &__info {
      order: 2;
      width: 530px;
      margin: 0 auto;
    }
    &__title {
      &::before {
        right: 430px;
      }
    }
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 44px;
  }

  .mobile-menu {
    margin-bottom: 15px;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      padding-bottom: 10px;
    }
    .menu__link {
      font-size: 20px;
      line-height: 28px;
    }
    &__social {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  .active {
    border-color: $green;
    color: $green;
    margin-bottom: 10px;
  }

  .header {
    &__logo {
      margin: 0 auto;
    }
    &__lang {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__content {
      top: 32%;
    }
    .content {
      &__title {
        font-size: 47px;
        line-height: 64px;
      }
    }
  }
  .header__slider .slick-dots {
    bottom: 10%;
  }

  .popular {
    .slick-prev {
      left: 87.5%;
    }
    .slick-next {
      left: 94.5%;
    }
    &__slider {
      &-child {
        left: 50px;
      }
      &-local,
      &-name,
      &-star {
        position: relative;
        left: 30px;
      }
      &-btn {
        position: relative;
        right: 30px;
      }
    }
  }

  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .canvas-open {
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 35px;
    width: 35px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    z-index: 100;
    display: block;
    cursor: pointer;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    z-index: 999;
    background: #ffffff;
    text-align: center;
    overflow-y: auto;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 80px 30px 30px 30px;
    display: block;
  }
  .offcanvas-menu-wrapper .canvas-close {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    padding-right: 1px;
  }
  .offcanvas-menu-wrapper .header-configure-area .language-option {
    display: inline-block;
    cursor: pointer;
    padding: 13px 0;
    position: relative;
    margin-bottom: 10px;
    vertical-align: middle;
  }
  .offcanvas-menu-wrapper .mainmenu {
    display: block;
  }
  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .footer {
    &__contact {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
    &__items:first-child {
      order: 3;
    }
    &__items:last-child {
      order: 4;
    }
  }

  .about {
    &__img {
      position: relative;
      right: 25px;
      top: 45px;
    }
    &__text {
      width: 365px;
    }
    &__title {
      width: 400px;
    }
  }
}

@media (max-width: 769px) {
  .title {
    font-size: 42px;
  }

  .about {
    &__content {
      flex-direction: column;
      align-items: flex-start;
      gap: 45px;
      padding: 70px 0px 55px;
    }
    &__img {
      right: 0px;
      top: 5px;
    }
  }

  .popular {
    .slick-prev {
      left: 80%;
    }
    .slick-next {
      left: 90%;
    }
    &__slider {
      &-child {
        left: 20%;
      }
      &-local,
      &-name,
      &-star {
        position: relative;
        left: 15%;
      }
      &-btn {
        position: relative;
        right: 15%;
      }
      &-title {
        font-size: 22px;
      }
    }
  }

  .vip {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__form,
    &__form.self {
      text-align: center;
      display: block;
      width: 328px;
      height: 408px;
      &-title {
        font-size: 24px;
        line-height: 150%;
        width: 276px;
        margin: 0 auto;
      }
    }
    &__input {
      margin-bottom: 30px;
      margin-left: 0;
    }
  }

  .news {
    &__content {
      justify-content: center;
    }
    &__img {
      display: none;
    }
    &__items {
      width: 370px;
    }
    &__btn {
      display: block;
      margin: 0 auto;
    }
  }

  .notime {
    &__form .close {
      position: relative;
      top: 10px;
      right: 25px;
      float: right;
    }
  }

  .clients {
    &__slider {
      height: 330px;
      &-item {
        margin: 0 auto;
        text-align: center;
      }
      &-info {
        width: 380px;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 85%;
      button {
        background-color: $gray-light;
        border-color: transparent;
        width: 12px;
        height: 12px;
        border-radius: 4px;
        padding: 0;
        font-size: 0;
        cursor: pointer;
      }
      li.slick-active {
        button {
          background-color: $green;
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .country,
  .hotel {
    .slick-slide {
      margin-left: 25px;
      margin-right: 25px;
    }
    &__info {
      width: 360px;
      height: 460px;
      &-text {
        width: 390px;
      }
    }
    &__slider {
      width: 450px;
      margin-bottom: 40px;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 115%;
      button {
        background-color: $gray-light;
        border-color: transparent;
        width: 12px;
        height: 12px;
        border-radius: 4px;
        padding: 0;
        font-size: 0;
        cursor: pointer;
      }
      li.slick-active {
        button {
          background-color: $green;
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .hotel {
    &__title {
      &::before {
        right: 260px;
        top: 60px;
      }
    }
  }

  .breadcrumbs {
    margin-top: -60px;
  }
}

@media (max-width: 481px) {
  .title {
    font-size: 32px;
    line-height: 130%;
  }

  .header {
    // padding-bottom: 70px;
    .content {
      &__title {
        font-size: 38px;
        line-height: 50px;
        min-width: 250px;
      }
    }
  }
  .header__slider .slick-dots {
    bottom: 23%;
  }

  .popular {
    .slick-slide {
      width: 280px;
    }
    .slick-prev {
      left: 69%;
    }
    .slick-next {
      left: 84%;
    }

    &__info,
    .turkey {
      align-items: unset;
      &-title {
        font-size: 24px;
        line-height: 100%;
        text-align-last: left;
      }
      &-text {
        width: 290px;
        margin-bottom: 25px;
      }
      &-img {
        width: 100%;
      }
    }
    &__slider {
      left: 0;
      margin-bottom: 100px;
      &-child {
        left: 20%;
      }
      &-title {
        font-size: 20px;
        line-height: 130%;
        width: 222px;
        margin-bottom: 20px;
      }
      &-name {
        font-size: 16px;
      }
      &-name,
      &-local {
        text-align: left;
        left: 0;
      }
      &-local {
        margin-bottom: 30px;
      }
      &-btn {
        right: 0;
      }
      &-star,
      &-star.four {
        background-image: url(../images/star5.svg);
        width: 100%;
        height: 27px;
        background-repeat: no-repeat;
        left: 0;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 100%;
      button {
        background-color: $gray-light;
        border-color: transparent;
        width: 12px;
        height: 12px;
        border-radius: 4px;
        padding: 0;
        font-size: 0;
        cursor: pointer;
      }
      li.slick-active {
        button {
          background-color: $green;
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .vip {
    &__form,
    &__form.self {
      width: 275px;
      &-title {
        font-size: 21px;
      }
    }
    &__input {
      width: 250px;
    }
    &__btn {
      width: 250px;
    }
  }

  .footer {
    &__bot {
      line-height: 130%;
    }
    &__req {
      width: 280px;
      height: 280px;
      p {
        font-size: 15px;
        margin-left: 17px;
      }
    }
    iframe {
      width: 275px;
    }
    &__text {
      font-size: 14px;
    }
  }

  .about {
    margin-bottom: 70px;
    &__title {
      width: 290px;
      font-size: 28px;
    }
    &__text {
      width: 270px;
    }
    &__img {
      right: 0px;
      top: -25px;
    }
  }

  .news {
    padding-bottom: 70px;
  }

  .notime {
    &__form.open {
      width: 270px;
    }
    &__text {
      font-size: 20px;
    }
    &__form-inp,
    &__form-tarea,
    &__form-info,
    &__form-btn {
      width: 230px;
    }
    &__form-check {
      font-size: 10px;
    }
    &__btn {
      margin-bottom: 70px;
    }
  }

  .popup__wrapper {
    padding: 0;
  }

  .clients {
    padding-bottom: 70px;
    &__slider {
      height: 400px;
      &-info {
        max-width: 230px;
        width: 300px;
      }
      &-text {
        width: 230px;
        font-size: 14px;
      }
    }
  }

  .why-we {
    padding-bottom: 70px;
  }

  .country,
  .hotel {
    .slider-for img {
      width: 260px;
      height: 200px;
      margin: 0 auto;
    }
    .slick-list {
      margin: 25px;
    }
    .slick-slide {
      width: 20%;
    }
    &__info {
      width: 240px;
      height: 670px;
      &-text {
        width: 270px;
      }
    }
    &__slider {
      width: 450px;
      margin-bottom: 40px;
    }
  }

  .hotel {
    &__title {
      &::before {
        right: 140px;
      }
    }
  }
}
