$black: rgba(35, 42, 52, 1);
$yellow: rgba(242, 209, 37, 1);
$pink: rgba(247, 131, 131, 1);
$green: rgba(5, 160, 129, 1);
$gray: rgba(158, 170, 183, 1);
$gray-dark: rgba(52, 72, 92, 1);
$gray-light: rgba(204, 209, 214, 1);
$white: rgba(255, 255, 255, 1);

%title-font {
  font-family: "Nato Serif";
} //

%text-font {
  font-family: "Nato Sans", sans-serif;
}  // 600 

%text-font-semibold {
  font-family: "Nato Sans Semibold", sans-serif;
} // 400 700 
