@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  max-height: 100vh;
  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 65px;
    padding: 10px 0px;
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__lang {
    display: flex;
    gap: 20px;
  }

  &__button {
    width: 56px;
    height: 32px;
    background-color: inherit;
    border-radius: 30px;
    border: 1.6px solid $gray;
  }
  &__button-link {
    @extend %text-font;
    color: $gray;
    font-size: 16px;
    line-height: 100%;
  }
  .active {
    border-color: $green;
    color: $green;
  }

  &__content {
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    margin: 0 auto;
    .content__title {
      @extend %title-font;
      color: $white;
      font-size: 64px;
      line-height: 87px;
      margin: 0 auto;
      max-width: 1037px;
    }
    .content__button {
      margin-top: 40px;
      background-color: $yellow;
      border-radius: 30px;
      border: 0;
      width: 236px;
      height: 56px;
      &-link {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        @extend %text-font;
        color: $black;
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
      }
    }
  }

  &__title {
    text-align: center;
  }

  &__slider-img {
    width: 100%;
    max-height: 724px;
    object-fit: cover;
  }
}
.menu {
  &__list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    row-gap: 5px;
  }

  &__link {
    @extend %text-font-semibold;
    color: $black;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}

.slider {
  &__button {
    position: relative;
    bottom: 75px;
  }
}
